<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScreenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ScreenCapture.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CaptureMouse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureClick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrameRate" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Container" serializeAs="String">
        <value>mp4</value>
      </setting>
      <setting name="ShowConversionOnFinish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureAudio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SampleRate" serializeAs="String">
        <value>44100</value>
      </setting>
      <setting name="KeyboardFont" serializeAs="String">
        <value>Segoe UI, 30pt</value>
      </setting>
    </ScreenCapture.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord.Audio" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.2.0" newVersion="3.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.2.0" newVersion="3.8.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>