<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScreenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ScreenCapture.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CaptureMouse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureClick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrameRate" serializeAs="String">
        <value>30</value>
      </setting>
    </ScreenCapture.Properties.Settings>
  </userSettings>
</configuration>
